body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-y: hidden; */
  background-color: #000102;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slide-container {
  width: 100%;
  background-color: black;
  color: white;
}


.alice-carousel__prev-btn [data-area]::after, .alice-carousel__next-btn [data-area]::after {
  position: relative;
  content: attr(data-area);
  text-transform: capitalize;
  color: white;
  padding-bottom: 20px;
}


.sliderimg{
  width: 100%;
  height: 500px;
  object-fit: cover
}

.btn-container {
  height: 10vh;
  background-color: black;
  width: 100%;
  margin-left: 0rem;
}

.outlined-btn {
  background: transparent;
  padding: 1%;
  outline: none;
  margin-top: 10px;
  height: 9vh;
  min-width: 10vw;
  border: none;
  margin-left: 10%;
  border-radius: 10%;
  justify-self: right;
}

.divider {
  width: 10%;
  display: inline-block;
}

.links {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

.logo-img {
  height: 9vh;
}

.paper {
  margin-top: 8px;
  display: flex;
  flex-direction:column;
  align-items: center;
}

.avatar {
  margin: 5px;
  background-color: blue;
}

form {
  width: 100%;
  margin-top: 5px;
}

.submit {
  margin: 0px auto;
}

.title {
  text-align: left;
  color: rgb(255, 253, 251);
  font-size: 2.1rem;
  font-family: Brush Script MT;
  font-weight: bold;
}
