.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
  background-color: black;
  width: 100%;
  font-family: "Courier New", Courier, monospace;

  .top-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }

  .app-name {
    margin-right: 0%;
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 10px;
  }

  h4 {
    margin-top: 20vh;
    margin-bottom: 5vh;
    font-size: 30px;
    font-weight: bolder;
  }

  p {
    line-height: 7vh;
    margin-bottom: 7vh;
    font-size: 20px;
  }

  .desc {
    background-color: black;
    width: 100%;
  }

  .desc-sect {
    display: flex;
    flex-direction: row;
  }

  .logo-section {
    width: 30%;
    height: 40%;
  }

  .sect-parag {
    width: 60%;
    margin-top: 70px;
  }

  .footer {
    background-color: #000;
  }

  a {
    color: rgb(122, 121, 121);
    font-family: "Courier New", Courier, monospace;
  }

  .typo {
    color: white;
    font-family: "Courier New", Courier, monospace;
  }

  .btn-cont {
    background-color: black;
    display: flex;
    flex-direction: row;

    button {
      margin: 1vh;
      font-weight: bold;

      a {
        color: rgb(114, 114, 114);
      }
    }
  }
}
