.wrap {
  display: flex;
  justify-content: center;
  background-color: #000;
  align-items: center;
}

.login-form {
  width: 80%;
  height: 80%;
  background-color: rgb(3, 3, 3);
  text-align: center;
  margin: 10% 0;
  padding: 10%;
  border: grey 1px solid;
  border-radius: 5%;

  h4 {
    padding: 5% 0%;
  }

  .button {
    background-color: black;
    color: #fff;
  }
}
